* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainOrange: #f15025;
  --mainBlue: blue;
  --mainBlack: black;
  --mainWhite: white;
  --mainYellow: #d2aa5c;
}
body {
  font-family: "Caveat", cursive;
  color: var(--mainBlack);
  background: var(--mainWhite);
}
